
 <div class="container">
  <div class="row">
   <div class="contents-wrap-narrow">
    <div class="col-md-10 offset-md-1">
     
        <section class="mt-5 mb-3 border">
        <h1 class="border p-2 mb-3 bg-info text-white text-center"><span>利用のルール</span></h1>
        <div class="">
          <p class="p-1 mb-2">
            当ウェブサイトは、その内容を利用者のみなさんが作っていくサービスです。
          </p>
          <p class="p-1 mb-2">
            また、⽇常のあらゆる疑問をほかの利用者に向けて質問したり、それらの質問に回答することで、疑問を解決していく「知恵」共有サービスです。困っている⼈が、当ウェブサイトを通じて「答え」や「気づき」を得られ、「答え」や「気づき」を提供した⼈は、その⼈の役に⽴ったという“助け合いの世界を作りたい”と考えております。
          </p>
          <p class="p-1 mb-2">
            多くの方々に快適にご利用いただける環境をご提供するために、明らかに悪意のある行為や不正利用には厳しく対処してまいります。
          </p>
        </div>
      </section>
      
      <section class="mt-5 mb-3 border">
        <h2 class="border p-2 mb-3 text-center">禁止事項について</h2>
        <div class="">
          <p class="p-1 mb-2">
            快適にサービスをご利用いただくために、以下の事項を禁止しています。禁止事項に該当する投稿は削除の対象となります。
          </p>
          <div class="row">
          <div class="col-md-10 offset-md-1 bg-light bg-gradient">
          <ul>
            <li>
              <p class="">禁止事項1：</p>
              <p class="">過度な批判、誹謗（ひぼう）中傷など他⼈を攻撃したり、傷つける内容の投稿や、他⼈を不快にさせる内容の投稿</p>

            </li>
            <li>
              
              <p class="">禁止事項2：</p>
              <p class="">わいせつや暴⼒的、過激な描写等を含む不愉快な内容の投稿</p>
 
              
            </li>
            <li>
             
              <p class="">禁止事項3：</p>
              <p class="">法令違反行為や犯罪行為等の誘発や助長、予告を内容とする投稿</p>

             
            </li>
            <li>
           
              <p class="">禁止事項4：</p>
              <p class="">商業⽬的や広告⽬的で利⽤すること</p>

            </li>
            <li>
              
              <p class="">禁止事項5：</p>
              <p class="">個⼈を特定できる情報の投稿</p>

            
            </li>
            <li>
             
              <p class="">禁止事項6：</p>
              <p class="">著作権など第三者の知的財産権を侵害すること</p>

            </li>
            <li>
              
              <p class="">禁止事項7：</p>
              <p class="">運営を妨害する⾏為</p>

            </li>
            <li>
              
              <p class="">禁止事項8：</p>
              <p class="">文意不明瞭な投稿や、文意が明瞭であっても質問・回答になっていない投稿</p>

              
            </li>
            <li>
              
              <p class="">禁止事項9：</p>
              <p class="">なりすまし⾏為や⾃作⾃演</p>
 
            </li>
            <li>
              
              <p class="">禁止事項10：</p>
              <p class="">勧誘や呼びかけ投稿の行為</p>

             
            </li>
            <li>
              
              <p class="">禁止事項11：</p>
              <p class="">明らかな偽情報に関する投稿</p>
            </li>
            <li>
              
              <p class="">禁止事項12：</p>
              <p class="">その他、運営が不適切だと判断するもの</p>
              
            </li>
          </ul>
          </div>
          </div>
          <p class="p-2 mb-2">
            また、サービスをご利⽤いただくなかで、明らかに悪意のある⾏為や不正利⽤など、本ページの禁⽌事項に違反していると思われる投稿を⾒つけた際は、各投稿のそばにある「違反報告」ボタンよりお知らせいただけますよう、あわせてご協⼒をお願いいたします。
          </p>

      </section>
      
      
    </div>
   </div>
 </div>
</div>
