<style>
  .bg01 {background: url("<%= asset_path('buncyo4.jpg') %>") #F8F9FB no-repeat bottom right/ contain;}
 </style>



<div class="container-fluid my-5 bg01">
 <div class="row py-5 px-5">
  <div class="border col-md-8 bg-white ">
    <div class="border px-5 my-3 bg-light text-dark text-center">
       <h3>カテゴリー：食・健康</h3>
    </div>
   
     <table class="table table-hover table-inverse">

 
       <tbody>
       <% @food_questions.each do |food_question| %>
         <tr>
            <td><%=link_to food_question.question_content, question_path(food_question.id) %>
            <%= food_question.created_at.strftime('%Y/%m/%d') %></td>
         </tr>

       <% end %>
       </tbody>
     </table>
    <%= paginate @food_questions %>
    
    
    </div>
  </div>
</div>