<style>
  .bg01 {background: url("<%= asset_path('buncyo3.jpg') %>") #DDCEC4 no-repeat bottom right/ contain;}
 </style>



<div class="container-fluid my-5 bg01">
 <div class="row py-5 px-5">
  <div class="border col-md-8 bg-white ">
    <div class="border px-5 my-3 bg-light text-dark text-center">
    <h1>カテゴリー一覧</h1>
    </div>
    
     <ol class="list-group list-group-flush list-group-numbered px-5">
       
       
       <a class="list-group-item" href="/categories/before">お迎え前</a>
       <a class="list-group-item" href="/categories/breeding">飼育方法</a>
       <a class="list-group-item" href="/categories/knowledge">知識</a>
       <a class="list-group-item" href="/categories/food">食・健康</a>
       <a class="list-group-item" href="/categories/illness">病気・ケガ</a>
       <a class="list-group-item" href="/categories/others">その他</a>
   
    
     </ol>
    </div>
  </div>
</div>