<div class="question_category">
  
  カテゴリー検索
  <table class="table">
  <tbody>
    <tr><td>
    <%= link_to  questions_path(category_method: category_method), class: "text-secondary" %>
    </td>                    <%# products_pathに引数としてcategory_idを渡す %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>