
 <div class="container">
  <div class="row">
   <div class="contents-wrap-narrow">
    <div class="col-md-10 offset-md-1">
      <br>
    <h1 class="mt-5 mb-3 font-weight-bolder">サイトのご利用について</h1>
      <br>
      <br>
    <h2 class="mt-5 mb-3 border-bottom">ご利用条件への同意</h2>
     <p class="px-2">ウェブサイトをご利用いただき、誠にありがとうございます。ご利用にあたっては、下記の点についてあらかじめご了承いただきますようお願いいたします。</p><br>
      <br>
      <br>
    <h3 class="mt-5 mb-3 border-bottom">免責事項について</h3>
     <p class="px-2">当ウェブサイトに情報を掲載する際には細心の注意を払っておりますが、掲載された情報について正確であること、最新であることを保証するものではなく、情報の誤りや、第三者によるデータの改ざん等によって生じた損害等に関しまして責任を負いません。</p><br>
      <br>
    <h3 class="mt-5 mb-3 border-bottom">リンクについて</h3>
     <p class="px-2">当ウェブサイトから又は当ウェブサイトにリンクを貼っている第三者のウェブサイトの内容について推奨、保証するものではなく、第三者のウェブサイト利用によってウェブサイト閲覧者に生じたいかなる責任も負いません。<br>
        当ウェブサイトに外部からリンクを貼る際は、企業、個人を問わず、本ご利用条件および以下の事項にご同意いただければ、事前申請の必要はありません。</p>
      <ol><br>
     <li>当ウェブサイトの管理人は、当ウェブサイトにリンクを貼ったことにより生じた損害について、一切の責任を負いません。</li>
     <li>当ウェブサイトに掲載された情報やURLは、原則として予告なしに変更いたします。</li>
     <li>次の内容が含まれるウェブサイトからのリンクは固くお断りします。</li>
        <ul>
     <li>・公序良俗に反する内容</li>
     <li>・違法な内容</li>
        </ul>
      </ol><br>
      <br>

    <h3 class="mt-5 mb-3 border-bottom">著作権について</h3>
     <p class="px-2">当ウェブサイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。</p><br>

    <h3 class="mt-5 mb-3 border-bottom">推奨環境について</h3>
     <h4>ブラウザ</h4>
      <p class="px-2">当ウェブサイトをより快適にご利用いただくために下記のブラウザを推奨いたします。</p> 
      <p class="px-3 ts-small indent-small">※推奨環境以外では、ウェブサイトの一部がご利用いただけないことがあります。</p>
      <p class="px-3 ts-small indent-small">※推奨環境下であっても、ウェブサイト閲覧者のブラウザの設定によっては、正しく表示されないことがあります。</p><br>
     <h4>【Windows】</h4>
      <ul>
      <li>Microsoft Internet Explorer（最新版）</li>
      <li>Microsoft Edge（最新版）</li>
      <li>Google Chrome（最新版）</li>
      <li>Mozilla Firefox（最新版）</li>
      </ul><br>
     <h4>【Macintosh】</h4>
      <ul>
      <li>Safari（最新版）</li>
      <li>Google Chrome（最新版）</li>
      <li>Mozilla Firefox（最新版）</li>
      </ul><br>
     <h4>【iOS】</h4>
      <ul>
     <li>Safari （最新版）</li>
     <li>Google Chrome（最新版）</li>
      </ul><br>
     <h4>【Andoroid】</h4>
     <ul>
     <li>標準ブラウザ</li>
     <li>Google Chrome（最新版）</li>
     </ul>
      <br>
      <br>
      
    </div>
   </div>
 </div>
</div>
